.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background: black;
    color: #f0ffff;
    
    background-image: url(/src/assets/c0481846-wuhan_novel_coronavirus_illustration-spl.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    
    
}

